.modal-body{
    img{
        width: 141px;
        height: 141px;
        border-radius: 0%;
    }
}
.send-mail{
    &:hover{
        background-color: #198754;
        color: #ffffff;

    }
}
.deactivate{
    color: #dc3545;
    &:hover{
        background-color:	#dc3545;
        color: #ffffff;
    }
}
.expand_more {
    display: none;
}
.expand_less {
    display: inline-block;
}
.collapsed .expand_more {
    display: inline-block;
}
  
.collapsed .expand_less {
    display: none;
}