<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
      <nav class="nav  flex-column bg-light">
        <h1 class="m-3"><a href="#"><img src="./assets/images/logo-ANSWER.png" alt="photo"></a></h1>
        <a class="nav-link link-success active m-3 d-flex align-items-center" aria-current="page" href="#"> 
          <span class="material-icons pe-3">
            assessment
          </span>
          Dashboard
        </a>
        <a class="nav-link link-success active m-3 d-block d-flex align-items-center" href="#" >
          <span class="material-icons pe-3">
            question_answer
          </span>
          Question
        </a>
        <a  href="./index.html" class="nav-link link-success active m-3  d-flex align-items-center" >
          <span class="material-icons pe-3">
            assignment
          </span>
          Assignment
        </a>
        <a class="nav-link link-success m-3 d-block d-flex align-items-center" href="#">
          <span class="material-icons pe-3">
            video_library
          </span>
          Course
        </a>
        <a class="nav-link link-success m-3 d-block d-flex align-items-center" href="./admin.html">
          <span class="material-icons pe-3">
            supervisor_account
          </span>
          Admin
        </a>
        <a class="nav-link link-success m-3 d-block d-flex align-items-center" href="#">
          <span class="material-icons pe-3">
            settings
          </span>
          Settings
        </a>
        <div class="d-flex m-3 ">
          <div class="me-3">
            <img src="./assets/images/andychen.jpeg" alt="avatar" class="nav-img">
          </div>
          <div>
            <h2 class="fs-6 fw-bold mb-1">Andy Chen</h2>
            <p class="fs-7 ">andy0401@mail.com</p>
          </div>
        </div>
      </nav>
    
    
    
    <div class="content flex-fill">
    <%- contents %>
    </div>
    

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>